name: Generate diagnose codes.
# Avoid running more than one of these at the same time
concurrency:
  group: generate
  cancel-in-progress: true
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      icd10-url:
        type: string
        description: New URL to use for icd10 diagnosekoder.
        required: false
      icpc2-url:
        type: string
        description: New URL to use for icpc2 diagnosekoder.
        required: false

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for comitting generated codes to the repo.
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: 'npm'
          registry-url: "https://npm.pkg.github.com"
          scope: "@navikt"
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      # If workflow is started manually and user inputs a new url config, write it to the repo before generating codes.
      - name: Write icd10 url config
        if: "${{ github.event.inputs.icd10-url != '' }}"
        run: echo "${{ github.event.inputs.icd10-url }}" > icd10.url.txt
        working-directory: ./configs
      - name: Write icpc2 url config
        if: "${{ github.event.inputs.icpc2-url != '' }}"
        run: echo "${{ github.event.inputs.icpc2-url }}" > icpc2.url.txt
        working-directory: ./configs
      - name: Install dependencies
        run: npm ci --workspaces
      - run: npm run build --workspace=@navikt/diagnosekoder # Because diagnosekode-generator depends on this
      - name: Generate
        run: npm run generate --workspace=diagnosekode-generator

        # Test generated diagnosekoder
      - name: Test javascript package
        run: npm run test --workspace=@navikt/diagnosekoder

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test java package
        working-directory: java/diagnosekoder
        run: ./gradlew test

      - name: Commit and push changed files
        # Only do this if workflow was started from manual dispatch:
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        # We want commits to be attributed to the use initiating the workflow
        env:
          GIT_USER_NAME: "${{ github.actor }}"
          GIT_USER_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
        run: |
          git config --global user.email "$GIT_USER_EMAIL"
          git config --global user.name "$GIT_USER_NAME"
          git diff --quiet || (git add -A && git commit -m "new diagnosekoder generated")
          git push