name: Increment package versions
concurrency:
  group: generate
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      version-increment:
        type: choice
        options:
          - patch
          - year
        required: true
        description: Choose year to set the minor version to a specific year. Choose patch to increment the patch version by one.
      year:
        type: string
        required: false
        description: If year is chosen above input what year to set the version to. Ignored for patch version increment.

jobs:
  increment:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for comitting incremented package version to repo.
    env:
      # This is what the version is set to when specifying yearly version increment
      NEW_YEAR_VERSION: "1.${{ github.event.inputs.year }}.0"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: 'npm'
          registry-url: "https://npm.pkg.github.com"
          scope: "@navikt"
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Set new minor version in javascript package
        if: github.event.inputs.version-increment == 'year' && github.event.inputs.year != ''
        run: npm version "$NEW_YEAR_VERSION" --workspace=@navikt/diagnosekoder

      - name: Increment patch version in javascript package
        if: github.event.inputs.version-increment == 'patch'
        run: npm version patch --workspace=@navikt/diagnosekoder

      - name: Set new minor version in java package
        if: github.event.inputs.version-increment == 'year' && github.event.inputs.year != ''
        uses: gradle/gradle-build-action@v2.7.0
        with:
          arguments: |
            incrementVersion
            -PoverrideVersion=${{ env.NEW_YEAR_VERSION }}
          build-root-directory: java/diagnosekoder

      - name: Increment patch version in java package
        if: github.event.inputs.version-increment == 'patch'
        uses: gradle/gradle-build-action@v2.7.0
        with:
          arguments: |
            incrementVersion
          build-root-directory: java/diagnosekoder

      # Test packages after version increment
      - run: npm run test --workspace=@navikt/diagnosekoder

      - name: Test java package
        uses: gradle/gradle-build-action@v2.7.0
        with:
          arguments: |
            test
          build-root-directory: java/diagnosekoder

      - name: Commit and push changed files
        # We want commits to be attributed to the use initiating the workflow
        env:
          GIT_USER_NAME: "${{ github.actor }}"
          GIT_USER_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
        run: |
          git config --global user.email "$GIT_USER_EMAIL"
          git config --global user.name "$GIT_USER_NAME"
          git diff --quiet || (git add -A && git commit -m "package versions incremented")
          git push
