name: Publish java and npm packages
concurrency: publish
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: 'npm'
          registry-url: "https://npm.pkg.github.com"
          scope: "@navikt"
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - run: npm ci --workspace=@navikt/diagnosekoder
      - run: npm run test --workspace=@navikt/diagnosekoder
      - run: npm run build --workspace=@navikt/diagnosekoder

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test java packaage
        working-directory: java/diagnosekoder
        run: ./gradlew test

      - name: Publish javascript
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm publish --workspace=@navikt/diagnosekoder

      - name: Publish java
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        working-directory: java/diagnosekoder
        run: ./gradlew publish
